#root {
  /* width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  --waves-dark-color:#0073ff;
  --waves-light-color:#00fcff;
  /* base values of waves */
  --wavesY: 25%;
  --wavesX: 25%;
  --waves-XY: var(--wavesY) var(--wavesX);

  /* offsets */
  --waves-outline-offset:2%;
  --waves-offset-y: 20%;
  /* --waves-top-offset-y: calc(var(--wavesY) + var( --waves-offset-y));
  --waves-top-offset-x: calc(var(--wavesX) + var( --waves-offset-x)); */
  --waves-top-offset: var(--wavesX) calc(var(--wavesY) + var( --waves-outline-offset));

  --waves-mask:radial-gradient(at 50% 10%, #000000 70.711%, transparent 70.711%) repeat-x 0 0 / var(--wavesX) var(--wavesY),
  radial-gradient(at 0% 0%, #000000 70.711%, transparent 70.711%) repeat-x 17% 0/var(--wavesX) var(--wavesY);

  --waves-base-gradient:
  linear-gradient(194deg, #0073ff 0%, #00fcff 100%);
  --waves:
  radial-gradient(at 50% 10%, #00dfff 70.711%, transparent 70.711%) repeat-x 0 0/var(--waves-top-offset),
  radial-gradient(at 0% 0%, #00dfff 70.711%, transparent 70.711%) repeat-x 17% 0/var(--waves-top-offset),linear-gradient(194deg, #0073ff 0%, #00fcff 100%);
}

*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

@keyframes waves-rise {
  0% {
		transform: translateY(0) rotate(-5deg) scale(100% 80%);
	}
  5% {
    transform: translateY(5%) rotate(-4deg) scale(100% 90%);
  }
  25% {
   transform: translateY(85%) rotate(5deg) scale(100% 220%);
  }
  75%{
    transform: translateY(30%) rotate(5deg) scale(102% 160%);
  }
  100% {
		transform: translateY(-25%) rotate(-3deg) scale(125%,80%);
    /* translate: translateY(34%); */
	}
}
@keyframes translate {
  0%,100% {
		transform: translateY(-25%);
	}
  5% {
    transform: translateY(-5%);
  }
  25% {
   transform: translateY(5%);
  }
  55%{
    transform: translateY(30%);
  }
	80% {
    transform: translateY(-7.5%);
	}
  75% {
		transform: translateY(25%);
    /* translate: translateY(34%); */
	}
}
@keyframes waves-tilt {
	/* 0% {
		transform: skew(2deg,-8deg);
	}

  25% {
   transform: skew(-4deg,0deg);
  }
	50% {
		transform: skew(3deg,-8deg);
	}
  75% {
		transform: skew(1deg,4deg);
  }
  100% {
		transform: skew(0deg,-5deg);
	} */
}
.waves {
  /* background: var(--waves); */
  /* background-image: linear-gradient(194deg, #0073ff 0%, #00fcff 100%); */
  /* var(--waves); */
  
  animation: waves-rise 2.5s ease-in-out infinite alternate-reverse;
  animation-composition: add, add;
  background-color: #5f79ff;
  /* clip-path: var(--waves); */
  width: 100%;
  height: 100vh;
  /* min-width: 100%; */
  /* background-repeat: repeat-x; */
  /* background-size: 5% 11%; */
  /* -webkit-mask-image:var(--waves-mask); */
  /* clip-path: circle(at 50% 10%); */
  /* radial-gradient(at 50% 10%, #000000 70.711%, transparent 70.711%) repeat-x 0 0/25% 25%,
  radial-gradient(at 0% 0%, #000000 70.711%, transparent 70.711%) repeat-x 17% 0/25% 25%; */
  /* -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent); */
  mask-repeat: repeat-x;
  mask-size: 5% 50%;
  mask-size: 5% 11%;
  /* -webkit-mask-composite: source-over;
  mask-composite: subtract; */
  mask: linear-gradient(194deg, rgb(0, 0, 0) 0%, white 100%)  exclude,
  radial-gradient(at 0% 0%, #a49e9e 70.711%, transparent 70.711%) repeat-x 17% 0/var(--waves-XY),radial-gradient(at 50% 10%, #000000 70.711%, transparent 70.711%) repeat-x 0 0/var(--waves-XY) intersect;
  /* mask: var(--waves-mask); */
  background: var(--waves-base-gradient);
  background: radial-gradient(at 50% 10%, #00dfff 70.711%, transparent 70.711%) repeat-x 0 0/var(--waves-top-offset),
  radial-gradient(at 0% 0%, #00dfff 70.711%, transparent 70.711%) repeat-x 17% 0/var(--waves-top-offset), linear-gradient(194deg, #0073ff 0%, #00fcff 100%);
  /* mask-mode: alpha,alpha,luminance; */
  /* mask-mode: luminance; */
  mask-type: luminance;

  /* var(--waves) */
  /* height: 100vh; */
  /* background-blend-mode: luminosity; */
}

.wavesHighlights {
  background-color: aqua;
  mask: repeating-linear-gradient(
        0deg,
        transparent 1%,
        transparent 49%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      )
      2vw 0/16vw 8vw,
    repeating-linear-gradient(
        90deg,
        transparent 1%,
        transparent 49%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      )
      2vw 14vw/16vw 4vw,
    conic-gradient(
        from 120deg at 50% 45%,
        rgba(255, 255, 255, 0) 26%,
        #000000 27%,
        #000000 50%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 66%,
        #000000 68%,
        #000000 100%
      )
      50% 0/8vw 4vw,
    #ffffff;
  mask-repeat: space round;
  /* filter: contrast(0%); */
}
